.paginationBlock{
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 10px;
}

.page {
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

.page:hover,
.page.currentPage{
    background-color: gray;
}