body, html {
  /* height: 100%; */
}

.app-wrapper{
  display: grid;
  grid-template-areas: "header header"
                       "side-bar content";
  grid-template-rows: 60px minmax(93vh, 1fr);
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content{
  grid-area: content;
  background-color: lightcyan;
}

a {
  text-decoration: none;
}

button {
  border: none;
}